body{
    background-color: rgb(188, 237, 221);
    font-family: fantasy;
    
}
/*sekce1*/
.s1{
    background-color: cadetblue;
    height: 400px;
    box-sizing: border-box;
    text-align: center;
    padding: 100px;
    color: rgb(57, 57, 103);
    font-size: 50px;
    

}
.s1d1{
    
}

/*sekce2*/
.s2{
    background-color: rgb(96, 71, 43);
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    padding: 100px;
    box-sizing: border-box;
}
.s2d1{
    
    display: flex;
    color: rgb(164, 60, 60);
    width: 900px;
    justify-content: space-evenly;
  
    

}
a{
    text-decoration: none;
    color: rgb(200, 171, 76);
}
.biblesvice{
    border-radius: 20px;
}
.s2d2{
    
  
    display: flex;
    color: rgb(164, 60, 60);
    width: 1100px;
    justify-content: space-evenly;

}
.bible1{
    
    padding-inline: 50px;
    
}
.bible2{
    padding-inline: 50px;
    border-radius: 50px;
}


/*sekce3*/
.s3{
    background-color: rgb(85, 111, 112);
    height: 1000px;
    font-size: 40px;
    text-align: center;
    padding: 100px;
    box-sizing: border-box;
}
.dentext{
    color: rgb(57, 57, 103);

}
.text{
    
    color: rgb(122, 226, 43);
    border-radius: 50px;

  
}

